


<main role="main">



      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">WeMatch People</h1>
          <p class="lead text-muted">Imagine that you find all your interests in one place, connect with in-common people and keep your stuff organized.</p>
          <p>
            <%# <a href="#" class="btn btn-primary my-2">Sign Up NOW!</a> %>
                 <%= link_to "Sign up NOW!", new_user_registration_path, :class=>"btn btn-primary my-2"%>

            <%# <a href="#" class="btn btn-secondary my-2">Want moor?</a> %>
          </p>
        </div>
      </section>

<div class="card-columns container" style="background-color: red"> <!-- START OF CARD-GROUP -->
   <% User.all.each do |user|%>

    <% user.user_interestts.each do |interest| %>
        <div class="card ">
        <%if interest.interest.image == "undefined" %>
                <h5 class="card-title"><%= interest.interest.title %></h5>
                <blockquote class="blockquote mb-0">
                <p class="card-text"><%= interest.interest.description %></p>

                </blockquote>
          
        <%else%>
            <img class="card-img-top" src="<%= interest.interest.image %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= interest.interest.title %></h5>
                <p class="card-text"><%= interest.interest.description %></p>
              </div>
       
        <%end%>
   </div>
              
      <%end%>
  <%end%>


  </div><!-- END OF CARD-GROUP -->


</main>


